.searchContainer {
    margin: 20px auto;
    width: 300px;
    position: relative;
    }
    .input {
        border:none ;
        border-bottom: 1.5px solid rgb(167, 168, 168);
        padding: 10px 20px;
        width: 100%;
        outline: none;
        font-size: 16px;
        color: rgb(78, 77, 76);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }